<section class="skills mt-24">
    <div class="about-title text-center font-semibold text-4xl mb-2">Skills</div>
    <div class="text-center text-xl mb-16 text-gray-600">My technical level</div>
    <div class="skill-data">
        <div>
            <div class="text-3xl font-medium mb-7">Programming Languages:-</div>
            <div class="p-lang flex justify-center">
                <ul class="flex gap-10 text-2xl font-medium text-gray-600">
                    <li>C</li>
                    <li>Java</li>
                    <li>JavaScript</li>
                    <li>TypeScript</li>
                    <li>.Net</li>
                    <li>HTML & CSS</li>
                </ul>
            </div>
        </div>
        <div class="mt-6">
            <div class="text-3xl font-medium mb-7">Technologies:-</div>
            <div class="p-lang flex justify-center">
                <ul class="flex gap-10 text-2xl font-medium text-gray-600">
                    <li>Git</li>
                    <li>MySQL</li>
                    <li>Angular</li>
                    <li>React</li>
                    <li>Tailwind</li>
                    <li>Bootstrap</li>
                    <li>Spring Boot</li>
                    <li>JMeter</li>
                </ul>
            </div>
        </div>
    </div>
</section>