<nav class="shadow">
    <div class="m-container navbar">
        <div class="logo"><p class="font-medium text-xl">Aditya Dubey</p></div>
        <ul class="menu">
            <li><a class="black cursor-pointer">Home</a></li>
            <li><a class="black cursor-pointer">About</a></li>
            <li><a class="black cursor-pointer">Skills</a></li>
            <li><a class="black cursor-pointer">Qualification</a></li>
            <li><a class="black cursor-pointer">Projects</a></li>
            <li><a class="black cursor-pointer">Contact-Me</a></li>
            <li><a class="black cursor-pointer"><fa-icon [icon]="faMoon"></fa-icon></a></li>
        </ul>
    </div>
</nav>
