<section class="about mt-24">
    <div class="about-title text-center font-semibold text-4xl mb-2">About Me</div>
    <div class="about-subtitle text-center text-xl mb-16 text-gray-600">My Introduction</div>
    <div class="about__container">
        <div class="flex"><img src="assets/my-data/aditya1.png" alt="aditya image" class="about__img"></div>
        <div class="about__data ">
            <p class="about__description text-gray-600 text-xl p-2">
                Hello, I am a Software Engineer with 2.2 years of professional experience in developing robust and
                dynamic web applications. I graduated with a B.Tech in Electronics and Communication Engineering in
                2022, and since then, I have honed my skills in frontend technologies like Angular, JavaScript, and
                React, as well as backend development using Java and MySQL. I am passionate about leveraging my
                technical expertise to create efficient, scalable, and user-centric solutions that drive impactful
                results.
            </p>

            <div class="about__info mt-8">
                <div>
                    <span class="text-4xl font-medium">08.10+</span>
                    <span class="about__info-name text-gray-600 text-base mt-1">Aggregate <br>CGPA</span>
                </div>

                <div>
                    <span class="text-4xl font-medium">04+</span>
                    <span class="about__info-name text-gray-600 text-base mt-1">
                        Projects</span>
                </div>

                <div>
                    <span class="text-4xl font-medium">02.02+</span>
                    <span class="about__info-name text-gray-600 text-base mt-1">Years <br>experience</span>
                </div>
            </div>

            <div class="text-center">
                <button
                    class="bg-indigo-500 text-white font-medium p-4 rounded-lg text-lg flex justify-center items-center">
                    Download CV &nbsp; <span><i class="fa-solid fa-download"></i></span></button>
            </div>
        </div>
    </div>
</section>