/* Custom variables */
:root {
    --background-color: rgb(251 251 254);;
    --text-color: #000000;
    --button-color: #5757e0;
    --error-color: #FF0000;
    --text-bg: #ffffff
  }
  
  /* Add SCSS variables here if needed for reuse */
  $button-color: #5757e0;
  $error-color: #FF0000;
  