<div class="home">
    <div class="m-container">
        <div class="mt-24">
            <div class="home-grid">
                <div class="home-icon">
                    <a><i class="fa-brands fa-linkedin-in text-2xl text-indigo-500"></i></a>
                    <a><i class="fa-brands fa-github text-2xl text-indigo-500"></i></a>
                </div>
                <div class="home-content pl-8 pt-12">
                    <div class="home-title font-semibold text-4xl mb-4">Hi, I'm Aditya Dubey</div>
                    <div class="home-subtitle font-medium text-2xl mb-3 text-gray-600">Software Engineer</div>
                    <div class="home-description text-lg mb-5 text-gray-600">I am a Software Engineer with 2.2 years of
                        experience specializing in frontend technologies like Angular, JavaScript, and React, as well as
                        backend technologies including Java and MySQL. I am passionate about building efficient,
                        user-friendly applications and delivering clean, scalable code.</div>
                    <button
                        class="bg-indigo-500 text-white font-medium p-4 rounded-lg text-lg flex justify-center items-center">Contact
                        me &nbsp; <span><i class="fa-solid fa-arrow-right"></i></span></button>
                </div>
                <div class="home-img flex justify-center">
                    <svg class="home__blob" viewBox="0 0 200 187" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <mask id="mask0" mask-type="alpha">
                            <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 165.547 
                              130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 129.362C2.45775 
                              97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 -0.149132 97.9666 
                              0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"></path>
                        </mask>
                        <g mask="url(#mask0)">
                            <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 
                              165.547 130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 
                              129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 
                             -0.149132 97.9666 0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"></path>
                            <image class="home__blob-img" x="-79" y="-46" xlink:href="assets/my-data/aditya.png">
                            </image>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="m-container">
    <app-about />
</div>
<div class="m-container">
    <app-skills />
</div>
<div class="m-container">
    <app-qualification />
</div>
<div class="m-container">
    <app-projects />
</div>