<section class="mt-24">
  <div class="text-center font-semibold text-4xl mb-2">Projects</div>
  <div class="text-center text-xl mb-16 text-gray-600">Most recent work</div>
  <swiper-container loop="true" navigation="true" speed="600" pagination="true">
    <swiper-slide>
      <div class="img-container">
        <img class="p-img" src="assets/projects/ujm.png" alt="">
      </div>
      <div class="pl-20 pr-20 mt-4">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit voluptate voluptatum porro nemo illum natus
        nulla ad, repellendus placeat? Odit eveniet consequuntur iusto non nisi voluptatum ad similique totam cum.
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="img-container">
        <img class="p-img" src="assets/projects/exobe.png" alt="">
      </div>
      <div class="pl-20 pr-20 mt-4">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit voluptate voluptatum porro nemo illum natus
        nulla ad, repellendus placeat? Odit eveniet consequuntur iusto non nisi voluptatum ad similique totam cum.
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="img-container">
        <img class="p-img" src="assets/projects/bitbharat.jpg" alt="">
      </div>
      <div class="pl-20 pr-20 mt-4">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit voluptate voluptatum porro nemo illum natus
        nulla ad, repellendus placeat? Odit eveniet consequuntur iusto non nisi voluptatum ad similique totam cum.
      </div>
    </swiper-slide>
  </swiper-container>
</section>